In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [ ]:
f = open('lab_69202_file1.dat','w+') # opening file named "lab_69202_file1.dat" with read and write
#writing required lines
f.write('This is test1\nThis is test2\nThis is test3')
f.seek(0)
# using for loop to print the list elements
for i in f.readlines():
    print(i)
f.close()

This is test1

This is test2

This is test3

In [32]:
f = open('lab_69202_file1.dat','w+')
kolkatarain = 72.30
delhirain = 31.1
f.write(f'The average annual rainfall in Kolkata is {"%.2f" % kolkatarain} inches\nThe average annual rainfall in Delhi is {"%.2f" % delhirain} inches')
f.seek(0)
for i in f.readlines():
    print(i)
f.close()

The average annual rainfall in Kolkata is 72.30 inches

The average annual rainfall in Delhi is 31.10 inches

In [47]:
f = open('lab_69202_file2.dat','w+')
f.write('This is test1\nThis is test2\nThis is test3')
f.seek(0)
l = f.readlines()
for i in range(1,len(l)):
    print(l[i])

This is test2

This is test3